<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "AY Word List", {:controller => 'users', :action => 'index'}, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   {:controller => 'users', :action => 'index'}%></li>
        <li><%= link_to "Help",   {:controller => 'static_pages', :action => 'help'} %></li>
        <li><%= link_to "ユーザー登録", {:controller => 'people', :action => 'new'} %></li>
        <% if logged_in? %>
              <li><%= link_to "People", {:controller => 'people', :action => 'index'} %></li>
              <li><%= link_to "Profile", current_person %></li>
              
               
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>




        <% else %>
        <li><%= link_to "Log in", {:controller => 'sessions', :action => 'new'} %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>